*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

}
.heading{
     margin:20px;
     padding:10px;
     background-color: black;
     color: white;
     text-align: center;
     font-size: 20px;
}
.content{
    border:solid black 2px;
    display: inline-block;
}
.content__img{
    height: 400px;
    width: 300px;

}

.content__head,.content__order,.content__desc{
    padding-top:10px;
    text-align: center;
}
.content__order{
    padding: 10px;
    margin-left: 80px;
    margin-top: 10px;
    background-color: black;
    color:white;
    padding-right: 20px;
    margin-right: 70px;

}
.content__order:hover{
    cursor: pointer;

}
.content__order:hover{
    outline:solid red 2px;
}
.box{
    text-align: center;
}
.contact{
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.sub{
    background-color: bisque;
    padding:10px;
    
}
.sub:hover{
    cursor: pointer;
    outline:solid red 2px;
}